* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e5e5e5; /* Color gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #004d00; /* Verde oscuro */
    margin-bottom: 20px;
}

.jugadores-container {
    background-color: #fff; /* Blanco para el contenedor de jugadores */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

#jugadores-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #007bff; /* Azul para las tarjetas de jugadores */
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px); /* Se ajusta para mantener espacio entre las tarjetas */
    min-width: 250px; /* Ancho mínimo para mantener legibilidad */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.secondary-button {
    background-color: #6c757d; /* Gris para los botones secundarios */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

.secondary-button:hover {
    background-color: #5a6268; /* Gris más oscuro para hover */
}
